name: Java CI with Maven & JaCoCo

on:
  push:
    branches: [ "main", "mast
    er" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'      # <--- ESTO ESTABA FALLANDO
          distribution: 'temurin' # <--- FALTABAN LOS ESPACIOS AQUÍ
          cache: maven            # <--- Y AQUÍ

      - name: Test and Generate Coverage
        run: mvn -B test

      - name: Upload JaCoCo Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/